<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jain.mokshymargdharm"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mahaveera_ji"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.jain.mokshymargdharm.SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jain.mokshymargdharm.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.jain.mokshymargdharm.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jain.mokshymargdharm.DetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.jain.mokshymargdharm.MediaDisplayActivity"
            android:label="@string/title_activity_media_display" >
        </activity>
        <activity
            android:name="com.jain.mokshymargdharm.Technique4Activity"
            android:parentActivityName="com.jain.mokshymargdharm.MainActivity"
            android:label="@string/title_activity_technique4">
        </activity>

        <activity
            android:name="com.jain.mokshymargdharm.AndroidBuildingMusicPlayerActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation">
        </activity>

        <activity
            android:name="com.jain.mokshymargdharm.PlayListActivity" />

    </application>

</manifest>
